/*Fonts*/
@import url(/assets/css/bonny.css);
@import url();
/*Variables*/
:root{
    --c-brand:#3f1b32;
    --c-brand-light:#532241;
    --c-brand-background:#d9ac53;
    --c-brand-background-light:#ffe8ba;
    --c-brand-background-light-smooth:#ffe8ba90;
    --c-body:#575145;
    --font-base:"Bonny",sans-serif;
    --font-base-bold:"Bonny-Bold",bold;
    --font-base-variable:"Bonny-Medium"
}

#modal{
    background-color: var(--c-brand-background);
    border-radius: 30px;
    border: var(--c-brand);
    border-color: var(--c-brand);
    border: 5px solid var(--c-brand-light);;
    padding: 3vh;
    width: 30%;
    max-width: 1200px;
    animation-duration: 1s;
    animation: slidein;
    text-align: center;
}

#modal::backdrop{
    background-color: rgb(0, 0, 0, 0.3);
}


#LOGINBTN{
    margin-top: -3vh;
    background-color: #3f1b32;
    align-items: center;
    border-radius: 15px;
    color: var(--c-brand-background-light);
}


#LOGINBTN:hover{
    background-color: var(--c-brand-light);
    color: var(--c-brand-background-light);
    
 }

 .btn-cerrar{
    background-color: #3f1b32;
    width: 30px;    
    height: 30px;
    border-radius: 10px;
    border: none;
    color: var(--c-brand-background-light);
 }

 .btn-cerrar:hover{
    background-color: var(--c-brand-light);
    color: var(--c-brand-background-light);
    
 }

 .btn-cerrar i{
    text-align: center;
    font-size: large;
 }

@keyframes slidein {
    from {
        margin-bottom: 90vh;
    }
  
    to {
      margin-bottom: 50vh;
    }
  }


@media (max-width:1500px) {
    #modal{
        width: 800px;
    }
}

@media (max-width:1200px) {
    #modal{
        width: 600px;
    }
}

@media (max-width:1000px) {
    #modal{
        width: 400px;
    }
}

@media (max-width:800px) {
    #modal{
        width: 400px;
    }
}


@media (max-width:400px) {
    #modal{
        width: 250px;
    }
}

@media (max-width:350px) {
    #modal{
        width: 250px;
    }
}


